*{
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
}
.main_container{
    width: 95%;
}
.header_and_home_container{
    height: 100vh;
}
.header_container{
    height: 10%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home_container{
    width: 100%;
    height: 90%;
    background-color: #ADD8E6;
}
.header_container_common{
    margin: 0;
}
.left_header_container{
    margin-left: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25em;
}
.logo_container{
    border: solid black 3px;
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 0.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}
.full_name_container{
    font-weight: bold;
}
.role_container{
    text-align: center;
    color: gray;
}
.right_header_container{
    height: 100%;
    display: flex;
}
.right_header_container a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75em;
    font-size: 1.5em;
}
.right_header_container a:hover{
    color: white;
    background-color: black;
}
.menuButtonClass{
    display: none;
}
.slider_menu_div{
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    height: 100vh;
    width: 100vw;
    background-color: white;
    transition: 0.5s ease-in-out;
    z-index: 2;
}
.menu_slider_div_container{
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.menu_slider_div_container a{
    text-decoration: none;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: black;
    font-size: 1.25em;
}
.menu_slider_div_container a:hover{
    background-color: black;
    color: white;
}
.slider_menu_div.active{
    transform: translateY(0%);
}
.home_container{
    /* width: 100%;
    height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile_photo_section_div{
    width: 45%;
    height: 100%;
}
.about_me_section{
    width: 45%;
    height: 100%;
}
.about_me_section{
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    margin-right: 10px;
}
.letter_space_name{
    width: 100%;
    font-size: 1.25em;
    margin-right: 10px;
    text-align: end;
    letter-spacing: 10px;
}
.designation_role{
    font-size: 4em;
    font-weight: bold;
}
.about_me_content{
    font-size: 1.25em;
}
.skill_main_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.skill_container{
    height: 20vh;
    width: 33%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.skill_logo_common{
    height: 60%;
    width: 100%;
    background: url('Images/leadership.png');
}
.skill_name{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill_1_logo{
    background: url('Images/leadership.png');
}
.skill_2_logo{
    background: url('Images/teamwork.png');
}
.skill_3_logo{
    background: url('Images/interpersonal-intelligence.png');
}
.skill_4_logo{
    background: url('Images/conversation.png');
}
.skill_5_logo{
    background: url('Images/salesforce.png');
}
.skill_6_logo{
    background: url('Images/project.png');
}
.profile_photo_section_div{
    background: url('Images/profile.png');
}
.skill_header_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hr_line{
    display: inline;
    width: 100%;
    height: 2px;
    background-color: black;

}
.skill_header{
    font-size: 3em;
    font-weight: bold;
}
.skill_main_container{
    background-color: #ADD8E6;
}
.main_container.active{
    display: none;
}
.column_common_container{
    width: 100%;
    height: 20vh;
    display: flex;
}
.empty_common_container_div,.middle_common_container,.info_container_div{
    width: 45%;
    height: 100%;
    background-color: #ADD8E6;
}
.middle_common_container{
    width: 10%;
    position: relative;
}
.dot_common_container_div{
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.up_arrow_common_container_div{
    position: absolute;
    height: 50%;
    width: 2px;
    background-color: black;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.down_arrow_common_container{
    position: absolute;
    height: 50%;
    width: 2px;
    background-color: black;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.info_container_div{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.logo_common_container_div{
    position: absolute;
    height: 70%;
    width: 50%;
    background: url('Images/mortarboard.png');
    top: 0;
    left: 0;
    margin: 0;
}
.logo_right_alignment_div{
    position: absolute;
    height: 70%;
    width: 50%;
    background: url('Images/mortarboard.png');
    top: 0;
    right: 0;
    margin: 0;
}
.journey_title_name{
    height: 15%;
    position: absolute;
    bottom: 15%;
}
.journey_year{
    height: 15%;
    position: absolute;
    bottom: 0%;
}
.right_alignment_commmon{
    right: 0;
}
.journey1_logo{
    background: url('Images/school.png');
}
.journey2_logo{
    background: url('Images/inter.png');
}
.journey3_logo{
    background: url('Images/college.png');
}
.journey4_logo{
    background: url('Images/tsg-removebg-preview.png');
}
.journey5_logo{
    background: url('Images/salesforce.png');
}
.journey6_logo{
    background: url('Images/sopra_steria-removebg-preview.png');
}
.certifications_main_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
.certificate_common_container{
    width: 45%;
    height: 50vh;
    position: relative;
}
.certificate_common_container img{
    height: 85%;
    width: 100%;
}
.certificate_common_container h4{
    text-align: center;
}
.certificate_common_container a{
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.certifications_main_container{
    /* background-color: antiquewhite; */
    background-color: #ADD8E6;
    margin-bottom: 2em;
}


.contact_main_container{
    width: 100%;
    padding: 5% 2%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.contact_information_container{
    width: 33.33%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.header,.content,.contact_details{
    margin: 0;
}
.header{
    font-size: 2em;
    text-decoration: underline;
    margin-bottom: 0.5em;
}
.content,.contact_details{
    color: gray;
}
.media_logos{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.media_logo_common{
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 1em;
}
.media1{
    background: url('Images/linkedin.png');
}
.media2{
    background: url('Images/github_logo.png');
}
.media3{
    background: url('Images/instagram.png');
}
.media_logo_common a{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.onscroll_animation_hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
}
.onscroll_animation_hidden_right{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
}
.onscroll_animation_show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
    transition: all 1s;
}
.journey_main_container{
    background-color: #ADD8E6;
}





.skill_logo_common,.profile_photo_section_div,.logo_common_container_div,.logo_right_alignment_div,.media_logo_common{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}
.home_container,.profile_photo_section_div,.about_me_section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact_main_container.active{
    display: none;
}
@media screen and (max-width: 500px) {
    .logo_container{
        width: 40px;
        height: 40px;
    }
    .full_name_container{
        font-size: 1em;
    }
    .left_header_container{
        margin-left: 0.1em;
    }
    .right_header_container{
        display: none;
    }
    .menuButtonClass{
        display: flex;
        margin: 0;
        background-color: white;
        height: 100%;
        width: 20%;
        align-items: center;
        justify-content: center;
        padding: 5px;
        font-size: 1.25em;
        border: none;
    }
    .home_container{
        flex-direction: column;
    }
    .profile_photo_section_div{
        width: 100%;
        height: 40%;
    }
    .about_me_section{
        width: 100%;
        height: 50%;
        font-size: 0.8em;
        padding: 10px;
    }
    .letter_space_name{
        width: 100%;
        font-size: 1em;
        margin-right: 10px;
        text-align: center;
        letter-spacing: 10px;
    }
    .designation_role{
        font-size: 2em;
        font-weight: bold;
    }
    .about_me_content{
        font-size: 1em;
    }
    .skill_container{
        width: 50%;
    }
    .journey_title_name{
        font-size: 0.75em;
    }
    .journey_year{
        font-size: 0.75em;
    }
    .skill_header{
        font-size: 2em;
    }
    .certificate_common_container{
        width: 80%;
        height: 40vh;
    }
    .contact_information_container{
        width: 95%;
        margin: 2% 0;
    }
}